@using TendaGo.Web.Models
@model List<PrecioViewModel>
@{
    var listaTipoUnidad = (IEnumerable<SelectListItem>)ViewBag.ListaTipoUnidad;
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header modal-header-inventory">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Precios</h4>
        </div>
        <div class="modal-body">
            <div>
                @using (Html.BeginForm("GuardarPrecio", "Parametrizacion", FormMethod.Post, new { id = "guardarPrecioForm", @class = "form-wizard validate" }))
                {
                @Html.AntiForgeryToken()
                <div class="table-responsive">
                    <table id="tablaPrecios" class="table datatable table-bordered table-hover">
                        <thead>
                            <tr class="text-sm">
                                <th></th>
                                <th>Tipo Unidad</th>
                                <th>Cantidad</th>
                                <th>Precio</th>
                                <th>Incluye Iva</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 0;
                            }
                            @foreach (var item in Model)
                                {
                                    i = i + 1;
                                <tr>
                                    <td>
                                        @Html.HiddenFor(m => item.Id)
                                    </td>
                                    <td>
                                        @Html.DropDownListFor(m => item.TipoUnidad.Nombre, listaTipoUnidad, "Seleccione un tipo de unidad", new { @class = "form-control" })
                                    </td>
                                    <td>
                                        <div class="form-group row">
                                            <div id="@("spinnerCantidad" + i)" class="input-spinner input-spinner-cantidad input-spinner-sx">
                                                <button type="button" class="btn btn-default">-</button>
                                                @Html.TextBoxFor(m => item.TipoUnidad.Cantidad, new { @class = "form-control", @data_min = "1" })
                                                <button type="button" class="btn btn-default">+</button>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(x => item.ValorPrecio, new { @class = "form-control input-money" })
                                    </td>
                                    <td>
                                        @Html.CheckBoxFor(m => item.IncluyeIva)
                                    </td>
                                    <td class="text-center">
                                        <span class="label @((Estado)item.IdEstado == Estado.INACTIVO ? "label-warning" : "label-success")">@(((Estado)item.IdEstado).ToString())</span>
                                    </td>
                                </tr>
                                }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="3" style="text-align:right">Total:</th>
                                <th class="text-right total">@*@Html.TextBoxFor(m => m.Total, new { @class = "form-control transparente text-right input-money", @readonly = "readonly" })*@</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                }
            </div>
        </div>
        <div class="modal-footer modal-footer-inventory ">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="button" id="btnGuardarProducto" class="btn btn-blue btn-add-datail">Guardar</button>
        </div>
    </div>
</div>

<script>

    $(function () {

        $.validator.unobtrusive.parse($("#guardarProductoForm"));
        $("#guardarProductoForm").formwizardcustom();
        //$(".input-spinner").spinner();
        $(".input-money").maskMoney(optionsMaskMoney);
        $(".fileinput").fileinput();
        replaceCheckboxes();

        $("#btnGuardarProducto").click(function () {
            $("#guardarProductoForm").submit();
        });

        $("#guardarProductoForm").submit(function (event) {
            event.preventDefault();

            var $div = $(this).closest('div');
            var post_url = $(this).attr("action");
            var request_method = $(this).attr("method");
            var form_data = new FormData(this);

            $.ajax({
                url: post_url,
                type: request_method,
                data: form_data,
                contentType: false,
                processData: false,
                beforeSend: function () {
                    blockUI($div)
                    $div.addClass('loading');
                },
                complete: function () {
                    unblockUI($div)
                    $div.removeClass('loading');
                }
            }).done(function (respuesta) {
                if (respuesta != "") {
                    if (respuesta.Success == true) {
                        toastr.success(respuesta.Mensaje, "", optionsToastr);
                        $("#divModal").modal('hide');
                    }
                    else {
                        toastr.warning(respuesta.Mensaje, "", optionsToastr);
                    }
                }
            });
        });
    });
</script>

