
@{
    ViewBag.Title = "Líneas";
    string urlBase = ViewBag.UrlBase;
}


@Styles.Render("~/Styles/datatables")
@Styles.Render("~/Styles/select2")
@Styles.Render("~/Styles/toggle")

<style>
    #divDatatable {
        margin-top: 10px;
    }
</style>


<ol class="breadcrumb bc-3 small hidden-xs breadcrumb-no-padding">
    <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i>Home</a></li>
    <li>Parametrizaciones</li>
    <li class="active"><strong>@ViewBag.Title</strong></li>
</ol>
<div class="row">
    <div class="col-md-12">
        <div class="pull-left">
            <h3>@ViewBag.Title</h3>
        </div>
    </div>
</div>

<br />
<div class="row">
    <div id="divMant" class="col-lg-3 col-md-4"></div>
    <div class="col-lg-9 col-md-8">
        @Html.Label("División")
        <select id="cmbDivisiones" class="form-control input-sm"></select>
        <div id="divDatatable"></div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/toggle")

    <script>
        menu_settings.parentMenu = 'MnuProducts';
        menu_settings.optionMenu = 'OpcLines';

        $(function() {
            getDivisions();
            LoadFormMant();
            SetActiveMenu();
        });

        function getDivisions() {
            $.ajax({
                url: '@Url.Action("GetDivisionsList", "Parametrizacion")',
                type: "GET"
            }).done(function(dataResponse) {
                if (dataResponse != "") {
                    $("#cmbDivisiones").append('<option value=""> Seleccione División</option>');
                    $.each(dataResponse,
                        function(i, division) {
                            $("#cmbDivisiones").append(`<option value="${division.Id}">${division.Division}</option>`);
                        });
                    $("#cmbDivisiones").select2();
                }
            });
        }

        $("#cmbDivisiones").on("change", function(e) {
            var idDivision = $("#cmbDivisiones option:selected").val();
            getLines(idDivision);
        });

        function refreshLines(lineSaved) {
            //console.info("refreshLines: " + JSON.stringify(lineSaved));
            getLines(lineSaved.IdDivision);
            $("#cmbDivisiones").val(lineSaved.IdDivision).trigger('change');
            LoadFormMant();
        }

        function getLines(division) {
            $("#divDatatable").empty();
            if (division !== "") {
                $.ajax({
                    url: "@Url.Action("GetLines")",
                    type: "GET",
                    data: { idDivision: division },
                    beforeSend: function() {
                        $("#divDatatable").append('<div id="divLoading" class="overlay"><i class="fa fa-refresh fa-spin"></i></div>');
                    },
                    complete: function() {
                        $("#divLoading").remove();
                    }
                }).done(function(dataResponse) {
                    if (dataResponse != "") {
                        $("#divDatatable").html(dataResponse);
                        $("#linesTable").datatableNoSortColumn({ column_no_sort: 2});
                    }
                });
            }
        }

        function LoadFormMant(idLine) {
            if (!idLine)
                idLine = 0;
            $.ajax({
                url: "@Url.Action("MantLine")",
                type: "GET",
                data: { id: idLine },
                beforeSend: function() {
                    $("#divMant").empty();
                    $("#divMant").append('<div id="divLoading" class="overlay"><i class="fa fa-refresh fa-spin"></i></div>');
                },
                complete: function() {
                    $("#divLoading").remove();
                }
            }).done(function(respuesta) {
                if (respuesta != "") {
                    $("#divMant").html(respuesta);
                    $("#btnCancelLine").on("click", function () {
                        LoadFormMant();
                    });
                    $('#IdEstado').cmodevCheckToogle();
                }
            });
        }


    </script>
}
