@using TendaGo.Web.Models
@model List<ProductoViewModel>

<div class="table-responsive">
    <table id="tablaProductos" class="table datatable table-bordered table-hover">
        <thead>
            <tr class="text-sm">
                <th></th>
                <th>Id</th>
                <th>Nombre</th>
                <th width="40%">Descripcion</th>
                <th>Codigo Interno</th>
                <th>Stock</th>
                <th class="text-center">Estado</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td></td>
                    <td>@item.Id</td>
                    <td>@item.Nombre</td>
                    <td>@item.Descripcion</td>
                    <td>@item.CodigoInterno</td>
                    <td>@item.Stock</td>
                    <td class="text-center">
                        <span class="label @((Estado)item.IdEstado == Estado.INACTIVO ? "label-warning" : "label-success")">@(((Estado)item.IdEstado).ToString())</span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
