<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Tenda Go!" />
    <meta name="author" content="Binasystem" />
    <title>Tenda Go!</title>
    <link rel="icon" href="@Url.Content("~/favicon.ico")">
    <link rel="manifest" href="@Url.Content("~/manifest.webmanifest")">
    <link rel="apple-touch-icon" href="images/touch/homescreen72.png">
    <link rel="apple-touch-icon-precomposed" href="images/touch/homescreen72.png">

    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic" rel="stylesheet" />
    @*<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">*@

    @Styles.Render("~/Content/bootstrap.min.css")

    @Styles.Render("~/Styles/entypo")
    @Styles.Render("~/Styles/css")
    @Styles.Render("~/Styles/neon")

    @Scripts.Render("~/bundles/responsive")
    @Scripts.Render("~/bundles/jquery")

    <!--[if lt IE 9]><script src="assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="page-body login-page login-form-fall" data-url="@Url.Content("~/")">

    <!-- This is needed when you send requests via Ajax -->
    <script type="text/javascript">
        var baseurl = '';
    </script>

    @RenderBody()

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/tweenmax")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/neon-main")
    @Scripts.Render("~/bundles/login")

    @RenderSection("scripts", required: false)
</body>
</html>
