@using TendaGo.Web.Models
@using TendaGo.Web.ApplicationServices
@using TendaGo.Common
@model NotaPedidoViewModel
@{
    var DetalleTransferencia = Model.DetalleNotaPedido;
    var locales = Session.GetLocales();
    var idLocalSeleccionado = Session.GetIdLocal();
}

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" id="btnClose" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Transferir mercadería</h4>
        </div>
        <div class="modal-body">
            <form id="transferForm" action="#">

                <div class="row">
                    <div class="col-md-12">
                    Seleccione el Local de Origen
                    </div>
                    <div class="col-md-12">
                        @if (locales != null && locales.Any())
                        {
                            <select id="locales" class="form-control user-info">
                                <option value="undefined">Seleccione --</option>
                                @foreach (var local in locales.Where(m=>m.Id != ViewBag.IdLocalSeleccionado))
                                {
                                    <option value="@local.Id">@local.Local</option>
                                }
                            </select>
                        }

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table id="detalleTransferencia" class="table datatable table-bordered table-hover">
                                <thead>
                                    <tr class="text-sm">
                                        <th>Código</th>
                                        <th>Producto</th>
                                        <th>Cantidad</th>
                                        <th class="text-center">Tipo Unidad</th>
                                        <th>Disponible</th>
                                        <th>Saldo</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < DetalleTransferencia.Count; i++)
                                    {
                                        var tipoUnidad = GetTipoUnidad(Model.DetalleNotaPedido[i].IdProducto);
                                        <tr id='@DetalleTransferencia[i].IdProducto'>
                                            <td>
                                                @Html.Hidden("DetalleTransferencia.Index", i)
                                                @Html.HiddenFor(m => DetalleTransferencia[i].IdProducto)
                                                @DetalleTransferencia[i].CodigoInterno
                                            </td>
                                            <td>
                                                @DetalleTransferencia[i].NombreProducto
                                            </td>
                                            <td>
                                                <center>
                                                    <div id="@("spinnerCantidadProductos" + i)" class="input-spinner spinner-cantidad-transferencia input-spinner-sx">
                                                        <button type="button" class="btn btn-default">-</button>
                                                        @Html.TextBox("DetalleTransferencia["+i.ToString()+"].Cantidad", 0, new { @class = "form-control cantidad-detalle", @data_min = "1" })
                                                        <button type="button" class="btn btn-default">+</button>
                                                    </div>
                                                </center>
                                            </td>
                                            <td class="text-center">
                                                @Html.DropDownListFor(m => DetalleTransferencia[i].IdTipoUnidad, new SelectList(tipoUnidad, "Value", "Text", DetalleTransferencia[i].IdTipoUnidad), "Seleccione una unidad", new { @class = "form-control" })
                                            </td>
                                            <td class="text-center">
                                                @Html.TextBox("DetalleTransferencia[" + i.ToString() + "].Disponible", 0, new { @readonly = "", @disabled = "", @class = "form-control cantidad-disponible" })
                                            </td>
                                            <td class="text-center">
                                                @Html.TextBox("DetalleTransferencia[" + i.ToString() + "].Saldo", 0, new { @readonly = "", @disabled = "", @class = "form-control cantidad-saldo" })
                                            </td>
                                            <td class="text-center">
                                                <a href="#" class="text-info btnElminarDetalle">
                                                    <i class="entypo-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="5" style="text-align:right">Total:</th>
                                        <th class="text-right total">@Html.TextBoxFor(m => m.Total, new { @id = "Total", @class = "form-control transparente text-right input-money", @readonly = "readonly" })</th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>

                    </div>
                </div>
            </form>



        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary guardar-transferencia">
                Generar
            </button>
            <button type="button" data-dismiss="modal" class="btn btn-info">
                Cancelar
            </button>
        </div>
    </div>

</div>

<script>
    $(".spinner-cantidad-transferencia").spinnercustom()
</script>



@functions{

    List<UnitTypeDto> unidadList = new List<UnitTypeDto>();

    List<SelectListItem> GetTipoUnidad(int idProducto)
    {
        var unidades = new List<UnitTypeDto>();

        try
        {
            unidades = TipoUnidadAppService.ObtenerTiposUnidadPorProducto(idProducto); ;
        }
        catch (Exception) { }
        unidadList = unidades;
        return unidades.Select(m => new SelectListItem { Text = m.TipoUnidad, Value = m.Id.ToString() }).ToList();
    }


}