@using TendaGo.Web.Models
@using TendaGo.Web.ApplicationServices
@using TendaGo.Common

@Styles.Render("~/Styles/datatables")
@Styles.Render("~/Styles/select2")

@model ProductViewModel
@{
    ViewBag.Title = "Consultar Ajuste de Inventario";
    Model.IdEmpresa = User.Identity.GetIdEmpresa();

    string urlBase = ViewBag.UrlBase;
    var app_user = User.Identity.Name;

    var tipoTransacciones = new List<SelectListItem>()
{
        new SelectListItem(){Text = "Compras", Value = "ORDE"},
        new SelectListItem(){Text = "Ventas", Value = "ORDS"},
        new SelectListItem(){Text = "Ajustes", Value = "TRAN"},
        Model.IdEmpresa == 1 ? new SelectListItem() { Text = "Transferencias Entrada", Value = "TREN" } : null,
        Model.IdEmpresa == 1 ? new SelectListItem() { Text = "Transferencias Salida", Value = "TRSA" } : null
    }.Where(item => item != null).ToList();

}

<ol class="breadcrumb bc-3 small hidden-xs breadcrumb-no-padding">
    <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i>Home</a></li>
    <li>Parametrizaciones</li>
    <li class="active"><strong>@ViewBag.Title</strong></li>
</ol>

@using (Html.BeginForm("ConsultarAjustesReporte", "inventario", FormMethod.Post, new { id = "getReportAjuste", @class = "form-wizard validate", @enctype = "multipart/form-data", autocomplete = "off", target = "_blank" }))
{
    var searchModel = new FacturaViewModels
    {
        FechaDesde = DateTime.Today.Date.ToString("dd/MM/yyyy"),
        FechaHasta = DateTime.Today.Date.ToString("dd/MM/yyyy")
    };

    @Html.HiddenFor(model => model.IdEmpresa)
    @Html.Hidden("format", "Excel")
    @Html.AntiForgeryToken()


    <div class="form-group row">
        <div class="form-group col-md-3">
            <label class="control-label">Fecha Inicio</label>
            @Html.TextBox("FechaDesde", searchModel.FechaDesde, new { @class = "form-control datepicker-custom", @placeholder = "Fecha de Inicio" })
        </div>

        <div class="form-group col-md-3">
            <label class="control-label">Fecha Fin</label>
            @Html.TextBox("FechaHasta", searchModel.FechaHasta, new { @class = "form-control datepicker-custom", @placeholder = "Fecha Fin" })
        </div>

        <div class="form-group col-md-6">
            <label class="control-label">Tipo Transacción</label>
            <select id="TipoTransaccion" name="TipoTransaccion" placeholder="Debe seleccionar el tipo transacción" class="form-control" style="width: 100%;">
                @{
                    <option value="">Todos</option>

                    foreach (var tipo in tipoTransacciones)
                    {
                        //var selected = "";

                        //if (searchModel.RUC != null && tipo.Ruc == Model.RUC)
                        //{
                        //    selected = "selected";
                        //}
                        //else if (defaultRUC == tipo.Ruc)
                        //{
                        //    selected = "selected";
                        //}

                        <option value='@tipo.Value'> @tipo.Text </option>
                    }
                }
            </select>
            @*<span class="small"> ** Debe seleccionar Ruc.</span>*@
        </div>

        <div id="buscarProduct" class="form-group col-md-3">
        </div>

        @Html.HiddenFor(model => model.IdProducto, new { @id = "valorIdProduct" })

    </div>

}


<div class="row">
    <div class="col-sm-6">
        <div class="btn-group text-right">
            <button type="button" class="btn btn-success  download-pdf "><i class="entypo-print"></i> Imprimir </button>
            <button type="button" class="btn btn-green dropdown-toggle" data-toggle="dropdown" aria-expanded="true" style="background: #00582b;"> <i class="entypo-down"></i> </button>
            <ul class="dropdown-menu dropdown-danger" role="menu">
                <li><a class="text-danger download-pdf" href="javascript:;"><i class="fa fa-file-pdf-o"></i>&nbsp;&nbsp;Descargar PDF</a> </li>
                <li><a class="text-info download-word" href="javascript:;"><i class="fa fa-file-word-o"></i>&nbsp;&nbsp;Descargar Word</a> </li>
                <li><a class="text-success download-excel" href="javascript:;"><i class="fa fa-file-excel-o"></i>&nbsp;&nbsp;Descargar Excel</a> </li>
            </ul>
        </div>
    </div>
</div>


@section scripts{
    @Scripts.Render("~/bundles/wizard")
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/timepicker")
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/toggle")

    @Scripts.Render("~/bundles/productos/index")


    <script>
        menu_settings.parentMenu = 'MnuInventory';
        menu_settings.optionMenu = 'OpcAjustReporte';

        var index = 0;
        var idOrigen = 4; // Compra

        searchModalSettings.url = "@Url.Action("BuscarParaModal", "productos")";
        searchModalSettings.resultContainer = "divConsultaProductosModal";

        function crearInputGroup(id, nombrePropiedadOculta, nombrePropiedad, nombreBotonBusqueda) {
            var input = "<div class='input-group' style='width:100%;'>";
            input += "<input class='" + nombrePropiedadOculta + "' id='Detalle_" + id + "__" + nombrePropiedadOculta + "' name='Detalle[" + id + "]." + nombrePropiedadOculta + "' type='hidden' >";
            input += "<input  placeholder='Todos los productos' class='form-control " + nombrePropiedad + "' id='Detalle_" + id + "__" + nombrePropiedad + "' name='Detalle[" + id + "]." + nombrePropiedad + "' readonly='readonly' type='text' >";
            input += "<div class='input-group-btn'>";
            input += "<button type='button' class='btn btn-blue " + nombreBotonBusqueda + "'>";
            input += "<i class='entypo-search'></i>";
            input += "</button>";
            input += "</div>";
            input += "</div>";
            return input;
        }

        $('#getReportAjuste').on('click', '.btnBuscarProducto', function () {
            $btnBuscarProducto = $(this);
            $('#divConsultaProductosModal').empty();
            $('#divConsultaProductosModal').modal('show', { backdrop: 'static' });
            getSearchProductsModal(idOrigen);
        });

        function onSelectProduct(product) {
            var pro = JSON.parse(product);
            $('#Detalle_' + index + '__IdProducto').val(pro.Id);
            $('#Detalle_' + index + '__NombreProducto').val(pro.CodigoInterno + " " + pro.Nombre);

            $("#valorIdProduct").val(pro.Id);
        }


    $(function () {
        $(".datepicker").datepickercustom();
        $(".datepicker").attr("data-format", "dd/MM/yyyy");
    });

        $(document).ready(function () {

            var inputNombreProducto = crearInputGroup(index, "IdProducto", "NombreProducto", "btnBuscarProducto");

        var productElement = document.getElementById("buscarProduct");

            productElement.innerHTML = inputNombreProducto;

        $(".datepicker-custom").datepickercustom();
        $(".datepicker-custom").attr("data-format", "dd/MM/yyyy");

        $(".download-word").on("click", function (event) {
            $("input[name='format']").val("WORD");
            $("#getReportAjuste").submit();
        });

        $(".download-excel").on("click", function (event) {
            $("input[name='format']").val("EXCEL");
            $("#getReportAjuste").submit();
        });

        $(".download-pdf").on("click", function (event) {
            $("input[name='format']").val("PDF");
            $("#getReportAjuste").submit();
        });
    });

    </script>
}