@using TendaGo.Web.Models
@using TendaGo.Web.ApplicationServices
@using TendaGo.Common

@Styles.Render("~/Styles/datatables")
@Styles.Render("~/Styles/select2")

@model StockLocalViewModel
@{
    ViewBag.Title = "ReporteStockPorLocal";
    Model.IdEmpresa = User.Identity.GetIdEmpresa();
    var filtrosBusqueda = (IEnumerable<SelectListItem>)ViewBag.FiltrosBusqueda;

    var brands = MarcasAppService.ObtenerMarcas();

    string urlBase = ViewBag.UrlBase;
    var app_user = User.Identity.Name;
    var productos = new List<SelectListItem>();

}

<ol class="breadcrumb bc-3 small hidden-xs breadcrumb-no-padding">
    <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i>Home</a></li>
    <li>Parametrizaciones</li>
    <li class="active"><strong>@ViewBag.Title</strong></li>
</ol>

@using (Html.BeginForm("ReporteStockPorLocal", "inventario", FormMethod.Post, new { id = "getReportStockByBodegaForm", @class = "form-wizard validate", @enctype = "multipart/form-data", autocomplete = "off", target = "_blank" }))
{
    @Html.HiddenFor(model => model.IdEmpresa)
    @Html.Hidden("format","Excel")
    @Html.AntiForgeryToken()


    <div class="form-group row">Stock por Bodega
        @*<div class="col-sm-6">
            @Html.LabelFor(x => x.IdMarca, new { @class = "control-label" })
            @Html.DropDownListFor(m => m.IdMarca, brandList, "Seleccione Marca", new { @class = "form-control" })
        </div>

        <div class="col-sm-6">
            @Html.LabelFor(x => x.IdDivision, new { @class = "control-label" })
            @Html.DropDownListFor(m => m.IdDivision, divisionList, "Seleccione División", new { @class = "form-control", id = "IdDivision" })
        </div>*@
    </div>

}


<div class="row">
    <div class="col-sm-6">
        <div class="btn-group text-right">
            <button type="button" class="btn btn-success  download-pdf "><i class="entypo-print"></i> Imprimir </button>
            <button type="button" class="btn btn-green dropdown-toggle" data-toggle="dropdown" aria-expanded="true" style="background: #00582b;"> <i class="entypo-down"></i> </button>
            <ul class="dropdown-menu dropdown-danger" role="menu">
                <li><a class="text-danger download-pdf" href="javascript:;"><i class="fa fa-file-pdf-o"></i>&nbsp;&nbsp;Descargar PDF</a> </li>
                <li><a class="text-info download-word" href="javascript:;"><i class="fa fa-file-word-o"></i>&nbsp;&nbsp;Descargar Word</a> </li>
                <li><a class="text-success download-excel" href="javascript:;"><i class="fa fa-file-excel-o"></i>&nbsp;&nbsp;Descargar Excel</a> </li>
            </ul>
        </div>
    </div>
</div>


@section scripts{
    @Scripts.Render("~/bundles/wizard")
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/timepicker")
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/toggle")


    <script>
        menu_settings.parentMenu = 'MnuInventory';
        menu_settings.optionMenu = 'OpcInvReporte';

        @*function printInventory(format) {
            console.log(format);

             var imprimirinv = function (format) {
                 window.open('@Url.Action("Resumido")/?format=' + format, "_blank");
            }
            $(".download-pdf").on("click", function () { imprimirinv("PDF"); });
            $(".download-excel").on("click", function () { imprimirinv("Excel"); });
            $(".download-word").on("click", function () { imprimirinv("Word"); });

        }*@

    $(document).ready(function () {

        $(".download-word").on("click", function (event) {
            $("input[name='format']").val("WORD");
            $("#getReportStockByBodegaForm").submit();
        });

        $(".download-excel").on("click", function (event) {
            $("input[name='format']").val("EXCEL");
            $("#getReportStockByBodegaForm").submit();
        });

        $(".download-pdf").on("click", function (event) {
            $("input[name='format']").val("PDF");
            $("#getReportStockByBodegaForm").submit();
        });
    });

    </script>
}