@using TendaGo.Web.Models
@model List<ProveedorViewModel>

<div class="table-responsive">
    <table id="tablaProveedores" class="table datatable table-bordered table-hover">
        <thead>
            <tr class="text-sm">
                <th></th>
                <th>Id</th>
                <th>RazonSocial</th>
                <th>Identificacion</th>
                <td>Ciudad</td>
                <th>Direccion</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var proveedor in Model)
            {
                <tr>
                    <td></td>
                    <td>@proveedor.Id</td>
                    <td>@proveedor.RazonSocial</td>
                    <td>@proveedor.Identificacion</td>
                    <td>
                        @if (proveedor.Ciudad != null)
                        {
                            @proveedor.Ciudad.Nombre
                        }
                    </td>
                    <td>@proveedor.Direccion</td>
                </tr>
            }
        </tbody>
    </table>
</div>

