@using TendaGo.Web.Models
@model TendaGo.Web.Models.ProductoViewModel

<a href="#" class="member-img">
    <img src="@Model.FotoDataUrl" class="img-rounded" title="@Model.Producto" />
</a>

<div class="member-details">
    <h4>
        <a href="#">@Model.Producto</a>
    </h4>

    <div class="row info-list">

        <div class="col-sm-4">
            <div class="row">
                <i class="entypo-popup" title="Codigo Interno">Código Interno</i>
                <b>@Model.CodigoInterno</b><br />
            </div>
            <div class="row">
                <i class="entypo-ticket" title="Codigo de Barras">Codigo de Barras</i>
                <b>@Model.CodigoBarra</b>
            </div>
            <div class="row">
                <i class="entypo-hourglass" title="Stock Minimo">Stock Minimo</i>
                <b>@Model.StockMinimo</b>
            </div>
            <div class="row">
                <i class="entypo-chart-bar" title="Total Stock">Total Stock</i>
                <b>@Model.Stock</b>
            </div>
        </div>

        <div class="col-sm-5">
            @*<i class="entypo-layout" title="Descripción"></i>
                @Html.Raw(producto.Descripcion.PadRight(200).Substring(0, 200).Replace("\r\n", "<br />"))
            *@
            @{ 
                var descripcion = Model.Descripcion;
                if (string.IsNullOrEmpty(Model.Descripcion))
                {
                    descripcion = Model.Producto;
                }
            }
            @Html.Raw("<pre>" + Html.Encode(descripcion.PadRight(200).Substring(0, 200).Trim()) + "</pre>")
        </div>

        <div class="col-sm-3">
            @switch (Model.Origen)
            {
                case OrigenesBusquedaProductos.MantProducto:
                    <button type="button" class="btn btn-green btn-icon " onclick="editarProducto('@Model.Id')">
                        <span class="hidden-xs">Editar</span>
                        <i class="entypo-pencil"></i>
                    </button>
                    if (Model.IdEstado == 1)
                    {
                        <button type="button" class="btn btn-red btn-icon" onclick="eliminarProducto('@Model.Id')">
                            <span class="hidden-xs">Eliminar</span>
                            <i class="entypo-trash"></i>
                        </button>
                    }
                    break;
                case OrigenesBusquedaProductos.MantPrecio:
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-green btn-icon " onclick="SetProductPrice('@Model.Id')">
                            <span class="hidden-xs">Establecer Precios</span>
                            <i class="entypo-book-open"></i>
                        </button>
                    </div>
                    break;
                case OrigenesBusquedaProductos.NotaPedido:
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-blue btn-icon " onclick="existenciaProducto(@Model.Id)">
                            <span class="hidden-xs">Ver Detalles</span>
                            <i class="entypo-eye"></i>
                        </button>
                    </div>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-green btn-icon btn-add-product" onclick="mostrarProducto(@Model.Id)">
                            <span class="hidden-xs">Agregar</span>
                            <i class="entypo-basket"></i>
                        </button>
                    </div>
                    break;
                default:
                    throw new ArgumentOutOfRangeException();
            }
        </div>

        <div class="clear"></div>

        <div class="col-sm-4">
            @if (!string.IsNullOrEmpty(Model.Marca))
            {
                <i class="entypo-layout" title="Marca">Marca</i>
                <b>@Model.Marca</b>
            }
        </div>
        <div class="col-sm-2">
            @if (!string.IsNullOrEmpty(Model.Categoria))
            {
                <i class="entypo-cc-sa" title="Categoria">Categoria</i>
                <b>@Model.Categoria</b>
            }
        </div>
        <div class="col-sm-4">
            @if (!string.IsNullOrEmpty(Model.Division))
            {
                <i class="entypo-cc" title="Division">Division</i>
                <b>@Model.Division</b>
            }
        </div>
        <div class="col-sm-2">

        </div>
        <div class="col-sm-2"></div>
    </div>
</div>