@using TendaGo.Web.Models
@using TendaGo.Web.ApplicationServices
@using TendaGo.Common

@Styles.Render("~/Styles/datatables")
@Styles.Render("~/Styles/select2")

@model FacturaViewModels
@{
    ViewBag.Title = "Reporte Productos";
    Model.IdEmpresa = User.Identity.GetIdEmpresa();
    var filtrosBusqueda = (IEnumerable<SelectListItem>)ViewBag.FiltrosBusqueda;

    var brands = MarcasAppService.ObtenerMarcas();

    string urlBase = ViewBag.UrlBase;
    var app_user = User.Identity.Name;
    var productos = new List<SelectListItem>();
    var rucs = RucsAppService.ObtenerRucs();

}

<ol class="breadcrumb bc-3 small hidden-xs breadcrumb-no-padding">
    <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i>Home</a></li>
    <li>Parametrizaciones</li>
    <li class="active"><strong>@ViewBag.Title</strong></li>
</ol>

@using (Html.BeginForm("ConsultarProductosReporte", "productos", FormMethod.Post, new { id = "getReportProductos", @class = "form-wizard validate", @enctype = "multipart/form-data", autocomplete = "off", target = "_blank" }))
{
    //var searchModel = new FacturaViewModels
    //{
    //    FechaDesde = DateTime.Today.Date.ToString("dd/MM/yyyy"),
    //    FechaHasta = DateTime.Today.Date.ToString("dd/MM/yyyy")
    //};

    @Html.HiddenFor(model => model.IdEmpresa)
    @Html.Hidden("format", "Excel")
    @Html.AntiForgeryToken()


    @*<div class="form-group row">
        <div class="form-group col-md-3">
            <label class="control-label">Fecha Inicio</label>
            @Html.TextBox("FechaDesde", searchModel.FechaDesde, new { @class = "form-control datepicker-custom", @placeholder = "Fecha de Inicio" })
        </div>

        <div class="form-group col-md-3">
            <label class="control-label">Fecha Fin</label>
            @Html.TextBox("FechaHasta", searchModel.FechaHasta, new { @class = "form-control datepicker-custom", @placeholder = "Fecha Fin" })
        </div>

       
        @if (rucs.Count > 0)
        {
            var local = Session.GetLocal();

            var defaultRUC = local != null ? local.DefaultRUC : "";
            <div class="form-group col-md-6">
                <label class="control-label">RUC</label>
                <select id="ruc" name="ruc" placeholder="Debe seleccionar el RUC" class="form-control" style="width: 100%;">
                    @{
                        if (string.IsNullOrEmpty(defaultRUC))
                        {
                            <option value=''> Debe seleccionar el RUC </option>
                        }

                        foreach (var ruc in rucs)
                        {
                            var selected = "";

                            if (searchModel.RUC != null && ruc.Ruc == Model.RUC)
                            {
                                selected = "selected";
                            }
                            else if (defaultRUC == ruc.Ruc)
                            {
                                selected = "selected";
                            }

                            <option @selected value='@ruc.Ruc' data-ruc='@Json.Encode(ruc)'> @ruc.Descripcion </option>
                        }

                    }
                </select>
                <span class="small"> ** Debe seleccionar Ruc.</span>
            </div>
        }

    </div>*@

}


<div class="row">
    <div class="col-sm-6">
        <div class="btn-group text-right">
            <button type="button" class="btn btn-success  download-pdf "><i class="entypo-print"></i> Imprimir </button>
            <button type="button" class="btn btn-green dropdown-toggle" data-toggle="dropdown" aria-expanded="true" style="background: #00582b;"> <i class="entypo-down"></i> </button>
            <ul class="dropdown-menu dropdown-danger" role="menu">
                <li><a class="text-danger download-pdf" href="javascript:;"><i class="fa fa-file-pdf-o"></i>&nbsp;&nbsp;Descargar PDF</a> </li>
                <li><a class="text-info download-word" href="javascript:;"><i class="fa fa-file-word-o"></i>&nbsp;&nbsp;Descargar Word</a> </li>
                <li><a class="text-success download-excel" href="javascript:;"><i class="fa fa-file-excel-o"></i>&nbsp;&nbsp;Descargar Excel</a> </li>
            </ul>
        </div>
    </div>
</div>


@section scripts{
    @Scripts.Render("~/bundles/wizard")
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/timepicker")
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/toggle")


    <script>
        menu_settings.parentMenu = 'MnuNotaPedido';
        menu_settings.optionMenu = 'OpcFacReporte';

        @*function printInventory(format) {
            console.log(format);

             var imprimirinv = function (format) {
                 window.open('@Url.Action("Resumido")/?format=' + format, "_blank");
            }
            $(".download-pdf").on("click", function () { imprimirinv("PDF"); });
            $(".download-excel").on("click", function () { imprimirinv("Excel"); });
            $(".download-word").on("click", function () { imprimirinv("Word"); });

        }*@

    $(function () {
        $(".datepicker").datepickercustom();
        $(".datepicker").attr("data-format", "dd/MM/yyyy");
    });

    $(document).ready(function () {


        $(".datepicker-custom").datepickercustom();
        $(".datepicker-custom").attr("data-format", "dd/MM/yyyy");

        $(".download-word").on("click", function (event) {
            $("input[name='format']").val("WORD");
            $("#getReportProductos").submit();
        });

        $(".download-excel").on("click", function (event) {
            $("input[name='format']").val("EXCEL");
            $("#getReportProductos").submit();
        });

        $(".download-pdf").on("click", function (event) {
            $("input[name='format']").val("PDF");
            $("#getReportProductos").submit();
        });
    });

    </script>
}